{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
<div class="bg-image">
    <div class="container bg-white bg-opacity pt-4 pb-5 ps-4 position-container">
        <h1>{% trans "Password Reset" %}</h1>
        <hr>
        <p class="fs-4">{% trans "Forgotten your password? Please contact us on info@calima.com to reset your password." %}</p>
        <a href="{{ login_url }}"
            class="fs-5 fw-semibold btn btn-light btn-lg btn-border btn-outline-dark btn-color"><span>Go back</span></a>
    </div>
</div>
{% endblock content %}