{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="hero-image">
    <div class="d-flex justify-content-center text-align-center">
        <h1 id="heading">"Better belly buss than good food waste"<br><span id="heading2">- Uncle Errol</span></h1>
    </div>
</div>
<section>
    <div class="container-fluid text-center ps-0 pe-0 bg-brown">
        <div class="border-bottom border-white border-5 p-5">
            <h2 class="text-uppercase font">Authentic Caribbean Food</h2>
            <hr>
            <a href="#" class="btn btn-light btn-lg btn-border btn-outline-dark"><span class="front-btn">Menu</span></a>
        </div>
        <div class="p-5">
            <h2 class="text-uppercase font">Book a table</h2>
            <hr>
            <a href="{% url 'book_table' %}" class="btn btn-light btn-lg btn-border btn-outline-dark"><span class="front-btn">Book</span></a>
        </div>
        <div class="border-top border-white border-5 p-5">
            <h2 class="text-uppercase font">About us</h2>
            <hr>
            <p class="mb-0 fs-4">At Calima, we invite you to embark on a culinary journey through the vibrant flavors and
                rich traditions of the Caribbean. Nestled in the heart of Berawa, Bali, our restaurant captures the
                essence of island life, bringing warmth, hospitality, and mouthwatering dishes to every table.</p>
        </div>
    </div>
</section>

{% endblock content %}