{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="hero-image">
    <div class="d-flex justify-content-center text-align-center">
        <h1 id="heading">"Better belly buss than good food waste"<br><span id="heading2">- Uncle Errol</span></h1>
    </div>
</div>
<section>
    <div class="container-fluid text-center ps-0 pe-0 bg-brown">
        <div class="border-bottom border-white border-5 p-5">
            <h2 class="text-uppercase font">About us</h2>
            <hr>
            <p class="mt-5 fs-4">At Calima, we invite you to embark on a culinary journey through the vibrant flavors and
                rich traditions of the Caribbean. Nestled in the heart of Berawa, Bali, our restaurant captures the
                essence of island life, bringing warmth, hospitality, and mouthwatering dishes to every table.</p>
        </div>
        <div class="p-5">
            <h2 class="text-uppercase font">Authentic Caribbean Food</h2>
            <hr>
            <p class="mt-5 fs-4">Our menu is a celebration of the diverse cuisines that define the region, from the spicy jerk chicken of Jamaica to the savory seafood delights of Trinidad and Tobago. Each dish is crafted with care, using authentic recipes passed down through generations to ensure an unforgettable dining experience.</p>
            <a href="{% url 'menu_page' %}" class="btn btn-light btn-lg btn-border btn-outline-dark mt-4"><span class="front-btn">Menu</span></a>
        </div>
        <div class="border-top border-white border-5 p-5">
            <h2 class="text-uppercase font">Book a table</h2>
            <hr>
            <p class="mt-5 fs-4">Beyond the food, Calima is a place for community and connection. Our welcoming atmosphere and laid-back ambiance make us the perfect destination for family gatherings, romantic dinners, or casual get-togethers with friends. From our friendly staff to our vibrant décor, every detail is designed to make you feel right at home.</p>
            <a href="{% url 'book_table' %}" class="btn btn-light btn-lg btn-border btn-outline-dark mt-4"><span class="front-btn">Book</span></a>
        </div>
    </div>
</section>

{% endblock content %}