{% extends "base.html" %}

{% block content %}

<div class="bg-image">
    <div class="container bg-white bg-opacity p-5 position-container booking-form text-center">
        <h1>Thank you for making a booking request with us at Calima!</h1>
        <hr>
        <p>We're thrilled to have you join us for an unforgettable dining experience. Your reservation request has been
            successfully received.</p>
        <p>Our team is currently processing your reservation details. We'll be in touch shortly to confirm your booking
            and
            provide any additional information you may need.</p>
        <p>In the meantime, if you have any urgent inquiries or special requests, feel free to reach out to us at
            Info@calima.com.</p>
        <p>Once again, thank you for choosing Calima. We can't wait to welcome you and make your visit truly
            exceptional!
        </p>
        <a href="{% url 'profile_account' %}"
            class="fs-6 fw-semibold btn btn-light btn-lg btn-border btn-outline-dark btn-color">View profile</a>
    </div>
</div>

{% endblock content %}