{% extends "base.html" %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Booking form -->
<section>
    <h2>{{ heading }}</h2>
    <hr>
    <div>
        {% if user.is_authenticated %}
        <form method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p>please log in to book a table</p>
        <a id="login-btn" class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
            href="{% url 'account_login' %}">Login</a>
        {% endif %}
    </div>
</section>

{% endblock content %}