{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="bg-image">
    <div class="container bg-white bg-opacity p-5 position-container booking-form">
        <section>
            <h1>Edit booking</h1>
            <hr>
            <form method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <button type="submit"
                    class="fs-6 fw-semibold btn btn-light btn-lg btn-border btn-outline-dark btn-color me-3">Save
                    changes</button>
                <a href="{% url 'profile_account' %}"
                    class="fs-6 fw-semibold btn btn-light btn-lg btn-border btn-outline-dark btn-color"><span>Cancel</span></a>
            </form>
            <!-- Display error messages under each field -->
            {% if form.errors %}
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
        </section>
    </div>
</div>

{% endblock content %}