{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="bg-image">
    <div class="container bg-white bg-opacity p-5 position-container booking-form">
        <section>
            <h1>Edit account details</h1>
            <hr>
            <div>
                <form method="post">
                    {{ edit_form|crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit"
                        class="fs-6 fw-semibold btn btn-light btn-lg btn-border btn-outline-dark btn-color me-3">Submit</button>
                    <a href="{% url 'profile_account' %}"
                        class="fs-6 fw-semibold btn btn-light btn-lg btn-border btn-outline-dark btn-color"><span>Cancel</span></a>
                </form>
            </div>
        </section>
    </div>
</div>

{% endblock content %}