{% extends "base.html" %}

{% block content %}
{% load static %}

{% if user.is_authenticated and not is_admin %}
<div>
    <section>
        <h2>My profile</h2>
        <hr>
        <h3>Account details</h3>
        <p><span>First name:</span> {{ firstname }}</p>
        <p><span>Last name:</span>{{ lastname }}</p>
        <p><span>Username:</span> {{ username }}</p>
        <p><span>Email:</span> {{ emailaddress }}</p>
        <a href="{% url 'edit_details' %}">Edit account details</a>
        <a href="{% url 'delete_account' %}">Delete account</a>

        <div>
            <h2>My Bookings</h2>
            <hr>
            {% if user_bookings %}
            {% for booking in user_bookings %}
            <table>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Guests</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>{{ booking.date }}</td>
                    <td>{{ booking.time }}</td>
                    <td>{{ booking.number_of_people }}</td>
                    <td>{{ booking.status }}</td>
                </tr>
            </table>
            {% endfor %}
            {% else %}
            <div>
                <p>There are no active bookings or requests for this account.</p>
            </div>
            {% endif %}
        </div>
    </section>
</div>
{% endif %}
{% endblock content %}