{% extends "base.html" %}

{% block content %}
{% load static %}

{% if user.is_authenticated and not is_admin %}
<div class="bg-image">
    <div class="container bg-white bg-opacity p-5 position-container">
        <div class="row">
            <div class="col">
                <h2 class="fs-1">My Profile</h2>
                <hr>
                <p class="fs-6"><span class="fw-bold">First name:</span> {{ firstname }}</p>
                <p class="fs-6"><span class="fw-bold">Last name:</span> {{ lastname }}</p>
                <p class="fs-6"><span class="fw-bold">Username:</span> {{ username }}</p>
                <p class="fs-6 mb-4"><span class="fw-bold">Email:</span> {{ emailaddress }}</p>
                <a href="{% url 'edit_details' %}"
                    class="fs-6 fw-semibold btn btn-light btn-lg btn-border btn-outline-dark btn-color me-2 mb-4">
                    <span>Edit account details</span>
                </a>
                <a href="{% url 'delete_account' %}"
                    class="fs-6 fw-semibold btn btn-light btn-lg btn-border btn-outline-dark btn-color mb-4">
                    <span>Delete account</span>
                </a>
            </div>
            <div class="col">
                <h2 class="fs-1">My Bookings</h2>
                <hr>
                {% if user_bookings %}
                {% for booking in user_bookings %}
                <table class="fs-6 table table-borderless transparent">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Guests</th>
                            <th>Status</th>
                            <!-- Actions dropdown for smaller screens -->
                            <th class="d-md-none">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ booking.date }}</td>
                            <td>{{ booking.time }}</td>
                            <td class="text-center">{{ booking.number_of_people }}</td>
                            <td>{{ booking.status }}</td>
                            <!-- Actions buttons visible on larger screens -->
                            <td class="d-none d-md-table-cell">
                                <a class="btn btn-light btn-border btn-outline-dark btn-color fw-semibold"
                                    href="{% url 'edit_booking' booking.id %}">
                                    <span>Edit</span>
                                </a>
                            </td>
                            <td class="d-none d-md-table-cell">
                                <a class="btn btn-light btn-border btn-outline-dark btn-color fw-semibold"
                                    href="{% url 'delete_booking' booking.id %}">
                                    <span>Delete</span>
                                </a>
                            </td>
                            <!-- Actions dropdown for smaller screens -->
                            <td class="dropdown d-md-none">
                                <button
                                    class="btn btn-light btn-border btn-outline-dark btn-color fw-semibold font-sz dropdown-toggle"
                                    type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="{% url 'edit_booking' booking.id %}">Edit</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'delete_booking' booking.id %}">Delete</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endfor %}
                {% else %}
                <div>
                    <p>There are no active bookings or requests for this account.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}