{% extends "base.html" %}

{% block content %}
{% load static %}

<div>
    <section>
        <h2>My profile</h2>
        <hr>
        <h3>Account details</h3>
        <p><span>Name:</span> {{ firstname }} {{ lastname }}</p>
        <p><span>Username:</span> {{ username }}</p>
        <p><span>Email:</span> {{ emailaddress }}</p>
        <a>Edit account details</a>
        <a>Delete account</a>

        <div>
            <h2>My Bookings</h2>
            <hr>
            
        </div>
    </section>
</div>

{% endblock content %}