/* General styles */
body, html {
    max-width: 2000px
}

main {
    margin-top: 6.1rem;
    background-color: #298670;
}

/* Navigation bar */
nav {
    background-color: #DFDFD9;
}

#title {
    font-family: 'Protest Riot', sans-serif;
    font-size: 3rem;
}

#font-size {
    font-size: 1.3rem;
}

.nav-underline {
    width: 3.7rem;
}

/* Hero */
.hero-image {
    background: url(../images/hero.jpg) no-repeat center center/cover;
    height: 100vh;
}

/* Footer */
footer {
    background-color: #DFDFD9;
}


@media (min-width: 992px) {
    
}