{% extends "base.html" %}

{% block content %}

<div class="bg-image">
    <div class="container bg-white bg-opacity position-container booking-form text-center">
        <h2 class="fs-1 pt-4">Our Menu</h2>
        <hr>
        <div class="row">
            <div class="col">
                <h3>Starters</h3>
                <hr>
                <div>
                    <p class="mb-0">Panko deep-fried Mac <span>&#65286;</span> Cheese</p>
                    <p>$8</p>
                    <p class="mb-0">Jackfruit sliders</p>
                    <p>$11</p>
                    <p class="mb-0">Hot pepper shrimps</p>
                    <p>$13</p>
                    <p class="mb-0">Saltfish fritters</p>
                    <p>$10</p>
                    <p class="mb-0">Chicken roti</p>
                    <p>$10</p>
                    <p class="mb-0">Fried jerk chicken wings</p>
                    <p>$12</p>
                </div>
            </div>
            <div class="col">
                <h3>Mains</h3>
                <hr>
                <div>
                    <p class="mb-0">Fisherman burger</p>
                    <p>$16</p>
                    <p class="mb-0">Curry goat</p>
                    <p>$18</p>
                    <p class="mb-0">Rice peas with oxtail</p>
                    <p>$20</p>
                    <p class="mb-0">Crab <span>&#65286;</span> Dumplings</p>
                    <p>$18</p>
                    <p class="mb-0">Seafood creole broil</p>
                    <p>$22</p>
                    <p class="mb-0">Jerk chicken <span>&#65286;</span> fried plantains</p>
                    <p>$17</p>
                </div>
            </div>
            <div class="col">
                <h3>Desserts</h3>
                <hr>
                <div>
                    <p class="mb-0">Rum cake</p>
                    <p>$7</p>
                    <p class="mb-0">Cassava pone</p>
                    <p>$6</p>
                    <p class="mb-0">Coconut drops</p>
                    <p>$3</p>
                    <p class="mb-0">Sweet potato pudding</p>
                    <p>$6</p>
                    <p class="mb-0">Brownie</p>
                    <p>$6</p>
                    <p class="mb-0">Ice cream</p>
                    <p>$4</p>
                </div>
            </div>
        </div>
        <hr>
        <p class="pt-2 pb-4">If you have any allergies or dietary requirements, please speak to your server or let us
            know in the "Special requests" section of your booking.</p>
    </div>
</div>

{% endblock content %}